/* src/Sidebar.css */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #94ad2fbc;
  color: white;
  padding: 20px;
  align-items: center;
  align-content: center;
  position: fixed;
}

.content {
  margin-left: 270px;
  padding: 20px;
  flex-grow: 1;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}